.btn-red{
  background-color: #f18d93;
}

.btn-red:hover{
  background-color: #f18d93;
}

.page-link {
  margin-right: 4px;
}

.btn-dropdown-after .dropdown-toggle::after{
  display: none;
}
.inactive-span span{
  font-weight: bold;
  white-space: nowrap;
}
.deactivate-user, .td-user-left{
	cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button{
  visibility: hidden;
  -webkit-appearance: none;
  appearance: none;
}
.search-close{
  line-height: 15px;
  cursor: pointer;
  position: absolute;
  top: 11px;
  right: 18px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
}

.chat-wrapper .chat-wrapper-left .chat-left-containt .user-chat-sec.recent-message {
  background-color: #cfbbc3;
}